body {
  margin: 4px;
  height: 100%;
  font-family: Sans-Serif;
}

header {

}

nav {
  float: inline-end;
}

nav > ul {
  display: flex;
  flex-flow: row;
  margin: auto;
}

nav > ul > li {
  display: inline-block;
  padding: 4px
}

.content {
  clear: both;
  text-align: center;
}

.card {
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;
  align-items: baseline;
  text-align: center;
}

.card > img {
  width: 20%;
  height: auto;
  margin: auto;
  flex-grow: 1;
}

.card-text {
  padding: 2px 16px;
  flex-grow: 2;
  text-align: left;
}

footer {
  text-align: center;
  padding: 16px;
}
